<nav id="nav-bar">
    <ul>
        <li class="logo">Cloud 17</li>
        <div class="items">
            <li><a href="/homepage">Home</a> </li>
            <li><a href="/shared">Shared</a> </li>
            <li><a href="/users/logout">Log Out</a> </li>
        </div>
        <li class="search-icon">
            <input type="search" placeholder="Search...">
            <label class="icon">
                <span class="fas fa-search"></span>
            </label>
        </li>
    </ul>
</nav>

<div class="main">
    <div class="top-section">
        <h1 id="regard"> Hello, <%= username %>! </h1>

        <span id ='user_email' data-id="<%= email %>"></span>

        <p>This is your homepage with all your files.</p>
        <p>To upload: Choose then Upload.</p>
        <form action="/api/uploadFile" enctype="multipart/form-data" method="POST">
            <label >
                <input type="file" class="admin__input" id="myFile" name="myFile"/>
            </label>

            <label class="custom-submit">
                <input class="admin__submit" type="submit", id="submit">
                Submit
            </label>
        </form>
    </div>

    <ul class="cards">
    </ul>

</div>

<h3 class="made_by">Team 17</h3>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/scripts/load-home.js"></script>
