<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA_Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="icon" href="/images/icon.png" type="image/icon png">
    <title>Cloud 17</title>
</head>
<body>
    <div class="container">
        <%- body%>
    </div>

<script src="script.js"></script>

</body>
</html>