<section>
    <div class="container">
        <div class="user signInBox">
            <div class="imgBox">
                <img src="/images/logo1.png">
            </div>
            <div class="formBox">
                <form name="myForm" action="/users/login" method="POST">
                    <h2>Log In</h2>
                    <%- include ('partials/massages') %>
                    <input type="email" id="email" name="email" placeholder="email">
                    <input type="password" id="password" name="password" placeholder="Password">
                    <button id="login-btn" name="Login" onclick="sendReq(event)">Login</button>
                    <a href="MyProfile.html">  </a>

                    <p class="signUp">Don't have an account? <a href="/users/register"> Sign Up.</a></p>
                </form>
            </div>
        </div>
    </div>
</section>