
<nav id="nav-bar">
    <ul>
        <li class="logo">Cloud 17</li>
        <!--<li class="btn"> <span class="fas fa-bars"></span> </li>-->
        <div class="items">
            <li><a href="/homepage">Home</a> </li>
            <li><a href="/shared">Shared</a> </li>
            <li><a href="/users/logout">Log Out</a> </li>
        </div>
        <li class="search-icon">
            <input type="search" placeholder="Search...">
            <label class="icon">
                <span class="fas fa-search"></span>
            </label>
        </li>
    </ul>
</nav>

<div class="main">

    <div class="top-section">
        <h1 id="regard"> Hello, <%= username %>! </h1>
        <p>These are all files which have been shared with you.</p>
            </div>

    <ul class="cards">
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="/images/file_blue.png"></div>
                <div class="card_content">
                    <h2 class="card_title" id="fname">FILE NAME</h2>
                    <h3 class="card_text" id="size">Size: </h3>
                    <h3 class="card_text" id="date">Date: </h3>
                    <button class="btn card_btn">Download</button>
                    <button class="btn card_btn">Share</button>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="/images/file_blue.png"></div>
                <div class="card_content">
                    <h2 class="card_title">FILE NAME</h2>
                    <p class="card_text">Size: </p>
                    <p class="card_text">Date: </p>
                    <button class="btn card_btn">Download</button>
                    <button class="btn card_btn">Share</button>
                </div>
            </div>
        </li>

    </ul>
</div>

<h3 class="made_by">Team 17: Daniel</h3>
