<section>
    <div class="container-hi">
        <h2>Welcome to Cloud 17</h2>
        <p>This is an university project for WebTech 2020/21 at FMI.</p>
        <a href="/users/login">Login</a>
        <br>
        <a href="/users/register">Register</a>
    </div>
</section>