@import "reset-css.css";

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #ffffff;
}

header {
  border-bottom: 1px solid #97acf1;
}


.topRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  background: #ffff;
  padding: 10px;
}


.search {
  border-radius: 5px;
  border-color: #97acf1;
  width:70%;
  border-style: hidden;
  border-bottom: 3px solid #3498dbc2; 
  margin-top:20px;
}


#userImg {
  border-radius: 50%;
  width: 30px;
  display: inline;
  
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style:italic;
  font-size: 35px;
  color:#3498dbc2;
  flex-shrink:1;
}

a:link{
  text-decoration: none;
}




.dropbtn {
  background-color: #3498DB;
  color: white;
  font-size: 15px;
  font-style: italic;
  border: none;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border-radius: 5px;
  color: #ffff;
  padding: 10px 40px 10px 40px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  /*flex-grow:1;*/
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  background-color: #3498dbc2;
  height: 350%;
  width:100%;
  overflow: auto;
  z-index: 1;
  margin-left:30%;
  border-radius: 5px;
}


#optionDropdown {
  border-bottom: 3px solid #2980B9;
  text-align: center;
  padding: 10px 40px 10px 40px;

  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#shared {
  border-bottom: 3px solid #2980B9;
  text-align: center;
  padding: 10px 40px 10px 40px;

  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


h2 {
  margin-left: 25px;
  margin-top: 10%;
  font-size:30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color:#3498dbc2;
}

.actButton, #fileImg {
  width:25px;
  height:25px;
  float:right;
  border-bottom:none;
}

#files {
  margin-top: 10%;
  width:100%;
 
}


#files th {
  padding-left:10%;
  color: #3498dbc2;
  font-weight: 600;
  height: 60px;
  
}


#files td {
  color: #4D4D4D;
  font-weight: 600;
  overflow-wrap: anywhere;
}

.wrapper {
  display:flex;
  flex-flow:column;
  background-color: #ffff;

  justify-content: center;
  align-content: center;;
  padding: 30px;
}

#files tr, th, td {
  text-align: left; 
}