@import "reset-css.css";


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e4e6da;
}

header {
    border-bottom: 1px solid #e4e6da;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    background: white;
    padding: 10px;
}

.navigation li {
    margin-top: 10px;
}

.logo {
    width: 100px;
}

.logo.form {
    width: 200px;
}

/* search */
.navigation li:nth-child(2) {
    width: 60%;
}

.search {
    margin-top: 20px;
}

.upload-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #49654D;
    border: 2px solid #49654D;
    border-radius: 5px;
    font-size: 15px;
    color: #ffff;
    padding: 10px 40px 10px 40px;
}

.upload-btn:hover {
    transition: ease-in-out 200ms;
    background-color: #8BA989;
    border: 2px solid #8BA989;
}

#img-user {
    border-radius: 50%;
    width: 40px;
}


.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100vh;
    align-content: center;
}


/* Style for myFiles,sharedFiles.html */
.wrapper.dashboard {
    background-color: #ffff;
    flex-flow: column;
    justify-content: normal;
    padding: 30px;
}

.wrapper.upload {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* SIGN IN/UP SECTION */
.form-section {
    text-align: center;
    background-color: #ffff;
    flex-wrap: wrap;
    width: 500px;
    flex-direction: column;
    padding: 50px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.sign-text {
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
}

.form-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #49654D;
    border: 2px solid #49654D;
    padding: 20px 50px 20px 50px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    color: #ffff;
    margin-bottom: 20px;
}

.form-btn:hover {
    transition: ease-in-out 200ms;
    background-color: #8BA989;
    border: 2px solid #8BA989;
}

.input-container {
    padding: 20px 0px 30px 0px;
}


/* style for all inputs */
input {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border: 0;
    border-bottom: 2px solid #999999;
    outline: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

input:focus,
input:valid {
    transition: ease 250ms;
    border-bottom: 2px solid #49654D;
}


/* CHANGE PASSWORD */

.close {
    align-self: flex-end;
}

.pass,
.conf-pass {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

/* Table content*/
.content {
    width: 100%;
    display: flex;
    flex-flow: column;
}

#picturre-download {
    width: 25px;
    height: 25px;
    float: right;
    border-bottom: none;
}

#picturer-delete {
    width: 25px;
    height: 25px;
    float: left;
    border-bottom: none;
}

#file-table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

#file-table th {
    color: #aaafab;
    font-weight: 600;
    height: 40px;
}

#file-table td {
    color: #4D4D4D;
    font-weight: 600;
    overflow-wrap: anywhere;
}


.location {
    font-size: 36px;
    font-weight: 600;
}
.create-folder {
    font-weight: 600;
    color: #aaafab;
    text-decoration: none;
}

#file-table table, td, th {
    text-align: left;
}

.prev {
    float: left;
}


/* SHARED FILES */


#img-folder {
    height: 20px;
}

#img-download {
    height: 40px;
}

#img-delete {
    height: 40px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 2%;
    padding-right: 2%;
    align-items: baseline;
}

.table-section {
    display: grid;
    padding-left: 20%;
    padding-right: 20%;
}

.header-table {
    font-size: 15px;
    color: #aaafab;
}


/* UPLOAD */

.upload-text {
    color: #49654D;
    padding-bottom: 5%;
}

.upload-section {
    text-align: center;
    background-color: #ffff;
    padding: 50px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#img-upload {
    width: 100px;
}

.get-file-section {
    padding: 70px 70px 70px 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 3px solid;
    border-color: #aaafab;
    border-style: dashed;
    flex-wrap: wrap;
    flex-direction: column;
}

.br-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #49654D;
    border: 2px solid #49654D;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    font-size: 20px;
    color: #ffff;
    margin-bottom: 20px;
}

.br-btn:hover {
    transition: ease-in-out 200ms;
    background-color: #8BA989;
    border: 2px solid #8BA989;
}

/* CHANGE DETAILS */

.details-content { 
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 200px;
}

.user-details {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.boxes {
    height:30px;
    float:left;
    border:none;
    border-bottom:solid;
    border-width:1px;
    border-color:green;
    width: fit-content;
}

.email {
    margin-left:50px;
}

.camera-icon {
    width: 40px;
    height: 40px;
    margin-left:110px;
}

#finish {
    width:350px;
    height:30px;
    background-color:#49654D;
    color:#FFFFFF;

}